@font-face {
	font-family: 'GalanoGrotesque';
	src: url('/fonts/GalanoGrotesqueRegular/font.woff') format('woff'),
		url('/fonts/GalanoGrotesqueRegular/font.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GalanoGrotesque';
	src: url('/fonts/GalanoGrotesqueRegularItalic/font.woff') format('woff'),
		url('/fonts/GalanoGrotesqueRegularItalic/font.woff2') format('woff2');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'GalanoGrotesque';
	src: url('/fonts/GalanoGrotesqueMedium/font.woff') format('woff'),
		url('/fonts/GalanoGrotesqueMedium/font.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'GalanoGrotesque';
	src: url('/fonts/GalanoGrotesqueMediumItalic/font.woff') format('woff'),
		url('/fonts/GalanoGrotesqueMediumItalic/font.woff2') format('woff2');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
} ;
